DATABASE_URL=
GOOGLE_SERVER_CLIENT_ID=
FIREBASE_SERVICE_ACCOUNT_JSON=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_WALLPAPER_BUCKET=
WALLPAPER_ADMIN_PASSWORD=
SUPABASE_STICKER_BUCKET=
STICKER_ADMIN_PASSWORD=
